<div class="main-field">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, placeholder: "Name", class: "name-field", autofocus: true %>
    </div>

    <div class="field">
      <%= f.text_field :bio, placeholder: "Your Bio", class: "bio-field", autofocus: true %>
    </div>

    <div class="field">
      <%= f.text_field :photo, placeholder: "Photo (Provide URL link)", class: "photo-field", autofocus: true %>
    </div>

    <div class="field">
      <%= f.email_field :email, placeholder: "Email", class: "email-field", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: "pass-field", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "pass-field", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>